* {
    margin: 0;
    padding: 0;
    top: 0;
    scroll-behavior: smooth;
}
/* styling the title*/
.title h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

 /* styling the nav  */
nav {
   padding: 2%;
   background-color: azure;
   display: flex;
   justify-content: space-between;
   position: sticky;
   z-index: 100;
}   

ul {
    display: flex;
    justify-content: space-evenly;
    min-width: 30%;
}
li {
    padding: 1% 3%;
    list-style: none;
    font-size: 20px;
    margin-left: 5%;
    height: fit-content;
}
li:hover {
   color: blue;
   background-color: rgb(43, 116, 226);
   color: rgb(43, 189, 226);
   
}
a:link, a:visited {
    text-decoration: none;
    color: black;
}
/* styling the home */
#home {
    height: 100vh;
    background-image: url(uaap.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
/* styling the sports and source */
#sports, #source {
    background-image: url(olswim.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(5%);
    padding-top: 2%;
}
#sports .headline {
    text-align: justify;
    margin-left: 5%;
    margin-bottom: 7%;
    color: white;
    width: 55%;
}
.headline h2 {
    border: 1px solid white;
    border-radius: 25px;
    padding: 2%;
    font-size: 35px;
    box-shadow: rgb(20, 20, 20) 3px 2px 4px 2px;
}

#sports p{
    text-align: justify;
    margin: 0 7% 0 7%;
    padding: 2%;
    font-size: 20px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid rgb(201, 195, 195);
    border-radius: 25px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: rgb(20, 20, 20) 3px 2px 4px 2px;
}
/* #source {
    height: 20vh;
    
} */

#source  h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: black;
    border: 1px solid burlywood;
    border-radius: 55px;
    box-shadow: rgb(20, 20, 20) 3px 2px 4px 2px;
    text-align: center;
    padding: 2%;
    margin: 0 20% 10% 30%;
    width: 30%;
    transition: transform 0.5s;
}

#source a {
    text-decoration: none;
    color: rgb(243, 229, 212);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  
}
#source h1:hover {
    transform: scale(1.05);
}

#source a:hover {
    transform: scale(1.05);
    color: #0c0c0c;
    color: rgb(135, 185, 250);
   
}
